<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-4 offset-lg-1 user-info mb-5 mt-3">
      <%= render 'layouts/user_sidebar', obj: current_user %>
    </div>
    <div class="col-lg-6">
      <div class="new-tweet-container rounded-lg shadow bg-warning border mb-3">
        <%= render 'tweets/new_tweet_form', resource: @tweet %>
      </div>
      <div class='tweets-container'>
        <%= render 'tweets/tweet_index', obj: @tweets %>
      </div>
    </div>
  </div>
</div>