<section class="main-visual">
  <div class='main  d-flex justify-content-center align-items-center'>
    <p>筋トレノートで<br>あなたのトレーニングを加速しよう！</p>
  </div>
</section>

<div class='py-4'>
    <div class='row'>
      <div class='container'>
        <div class="d-flex justify-content-center mb-5">
          <h1 class='font-weight-bold text-body'>〜筋トレ愛者のみなさん、こんなお悩みありませんか？〜</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='container'>
        <div class="d-flex justify-content-center first-visual mb-5">
          <p>前回のウェイト、レップ数<br>意外と忘れていませんか？<br>
          <span>トレーニング内容を記録し、効率的で無駄のない成長へ</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='container'>
        <div class="row d-flex justify-content-center align-items-center second-visual mb-5">
          <p>自分自身の成長をグラフで可視化</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='container'>
        <div class="row d-flex justify-content-center align-items-center third-visual mb-5">
         <p>筋トレ専門のSNS付きだから、筋肉アピールも遠慮なし！</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='container'>
        <div class="row d-flex justify-content-center align-items-center mb-5">
          <%= link_to '筋トレノートをはじめる！',  new_user_registration_path, {class: 'btn btn-success'} %>
        </div>
      </div>
    </div>
</div>
