<section class="main-visual d-flex justify-content-center align-items-center">
  <p>LOVE MUSCLEであなたのトレーニングを加速しよう！</p>
</section>
<div class="container">
  
  <div class="row d-flex justify-content-center mb-5">
    <h1>〜筋トレノートで出来ること〜</h1>
  </div>
  
  <div class="row d-flex justify-content-center first-visual mb-5">
    <p>前回のウェイト、レップ数<br>意外と忘れていませんか？<br>
    <span>トレーニング内容を記録し、効率的で無駄のない成長へ</span>
    </p>
  </div>
  
  <div class="row d-flex justify-content-center align-items-center second-visual mb-5">
    <p>自分自身の成長をグラフで可視化</p>
  </div>
  
  <div class="row d-flex justify-content-center align-items-center third-visual mb-5">
   <p>筋トレ専門のSNS付きだから、筋肉アピールも遠慮なし！</p>
  </div>

  <div class="row d-flex justify-content-center align-items-center mb-5">
    <%= link_to '筋トレノートをはじめる！', root_url, {class: 'btn btn-success'} %>
  </div>
  
</div>
