<section class="main-visual">
  <div class='main  d-flex justify-content-center align-items-center'>
    <p>筋トレノートで<br><span class='main-visual-text'>あなたのトレーニングを</span><span class='main-visual-text'>加速しよう！</span></p>
  </div>
</section>

<div class='py-4'>
  <div class='container'>
    <div class="d-flex justify-content-center mb-5">
      <h1 class='font-weight-bold text-body home-top-content-text'><span class='home-top-content-text-part'> 筋トレ愛者のみなさん! </span><span class='home-top-content-text-part'> こんなお悩みありませんか？ </span></h1>
    </div>
  </div>
  <div class='container'>
    <div class="d-flex justify-content-center  align-items-center first-visual mb-5 home-visual">
      <p>前回のウェイト、レップ数<br>意外と忘れていませんか？<br>
      <span><span class='first-visual-text-part'>トレーニング内容を記録し、</span><span class='first-visual-text-part'>効率的で無駄のない成長へ</span></span>
      </p>
    </div>
  </div>
  <div class='container'>
    <div class="d-flex justify-content-center align-items-center second-visual mb-5 home-visual">
      <p>自分自身の成長をグラフで可視化</p>
    </div>
  </div>
  <div class='container'>
    <div class="d-flex justify-content-center align-items-center third-visual mb-5 home-visual">
     <p><span class='third-visual-text'>筋トレ専門のSNS付きだから、</span><span class='third-visual-text'>筋肉アピールも遠慮なし！</span></p>
    </div>
  </div>
  <div class='container'>
    <div class="d-flex justify-content-center align-items-center mb-5 home-visual">
      <%= link_to '筋トレノートをはじめる！',  new_user_registration_path, {class: 'btn btn-success'} %>
    </div>
  </div>
</div>
