/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk 
 *= require_self
 */
 
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "jquery.tagit";       
@import "tagit.ui-zendesk";

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}

i{
  font-weight: bold;
}

.navbar-brand{
  mix-blend-mode: multiply;
}

.user-dropdown, .user-dropdown:hover{
  background-color: transparent;
  border: 0px none;
}

#error_explanation{
  color: red;
}

#error_explanation > ul >li{
  margin-left: 20px;
}

.navbar-toggler-icon{
  background-image: image-url('hamburger.png');
  mix-blend-mode: multiply;
}

.image-field{
  width: 100%;
}

#top-up-btn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: rgba(255,0,0,0.5);
}

#top-up-btn:hover{
  color: rgb(255,0,0);
}

// レスポンシブ対応
@media screen and (max-width:992px) {
  .header-nav-item {
    width: 100%;
  }
}

@media screen and (max-width:576px) {
  .container{
    padding: 0;
  }
}