// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual{
  background-image: image-url('mv1.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  p{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 5px #ffffff;
  }
}

.main{
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.4);
}

.first-visual{
  background-image: image-url('memo.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  p{
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 2px 3px #ffffff;
    span{
      font-size: 40px;
      font-weight: bold;
      color: red;
    }
  }
}

.second-visual{
  background-image: image-url('glaph.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  p{
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 2px 3px #ffffff;
  }
}

.third-visual{
  background-image: image-url('kinnniku-ziman1.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  p{
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 2px 3px #ffffff;
  }
}

// レスポンシブ対応

@media screen and (max-width:992px) {
  .main-visual {
    p{
    font-size: 40px;
    }
    .main-visual-text{
      display: inline-block;
    }
  }
  .home-top-content-text{
    font-size: 25px;
  }
  .home-visual{
    width: 100%;
    height: 150px;
  }
  .first-visual{
    p{
      font-size: 20px;
      span{
        font-size: 25px;
      }
    }
  }
  .third-visual-text{
    display: inline-block;
  }
}

@media screen and (max-width:576px) {
  .main-visual {
    p{
    font-size: 33px;
    text-align: center;
    }
    .main-visual-text{
      display: inline-block;
    }
  }
  .home-top-content-text{
    text-align: center;
    font-size: 24px;
    .home-top-content-text-part{
      display: inline-block;
    }
  }
  .home-visual{
    width: 100%;
    height: 150px;
    p{
      font-size: 20px;
    }
    .first-visual-text-part{
      display: inline-block;
    }
  }
  
}