
// レスポンシブ対応

@media screen and (max-width:992px) {
  
  
}

@media screen and (max-width:576px) {
  .training-note-title-part{
    display: inline-block;
  }
  
  .training-form-unit-part{
    display: inline-block;
  }
  
  .training_number_form_edit{
    width: 50px;
  }
  .edit-edit-btn, .edit-delete-btn{
    
  }
}